*{color:#FFFFFF;font-family:"Arial";}
body{background-color:#222222}
div{color:#FFFFFF}
span{color:#FFFFFF}
p{color:#EEEEEE;}
a{text-decoration: none;color:#55CC00;}
#title{font-size: 32px;text-align:left;color:#888888;}
.index{background-color:#444444;padding: 4px; font-weight:bold;}
.index:hover{background-color: #555555; color: #00FF00}
#active{color:#FFFFFF;}
.article{text-align:left;height:50px;width:500px;background:#44BB00;color:#FFFFFF}
button{background-color:#666666;color:#FFFFFF}
.w62{width: 62%}